body {
  background-color: #23252c;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #f5f5f5;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: #1a1b21;
  width: fit-content;
  margin: 5%;
  border-radius: 10px;
}

/* Header Styling */

.profile {
  border-collapse: separate;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
}

/* Main content styling */
.name {
  text-align: center;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 12.8px;
  color: #f3bf99;
  font-weight: 300;
}

h3 {
  font-size: 10.24px;
  font-weight: 200;
}

.buttons {
  text-align: center;
}

button {
  text-decoration: none;
  text-align: center;
  border: none;
  width: 100px;
  height: 30px;
  margin: 5px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
}

.linkedin {
  background-color: #5093e2;
  color: #f5f5f5;
}
